
$color-orange                             : #ffb009
$color-white                              : #fff

$base-background-color                    : $color-orange
$base-heading-color                       : $color-white
$base-text-color                          : $color-white

$logo-highlight-color                     : $color-orange

$section-height                           : 900px
$section-padding                          : 96px
$section-border-color                     : $color-orange

$map-background-color                     : $color-orange